{% extends "base.jinja" %}

{% block body %}

<form class="form-horizontal" action='http://localhost:5000/submit' method='post' enctype=multipart/form-data>
  <fieldset>

    <div id="legend" class="">
      <legend class="">Submit A Map</legend>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Name</label>
      <div class="controls">
        <input placeholder="" class="input-xlarge" type="text">
        <p class="help-block">Human-readable map name</p>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <div class="textarea">
          <textarea type="" class=""> </textarea>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">PK3</label>
      <div class="controls">
        <input class="input-file" name="mapfile" type="file">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">License</label>
      <div class="controls">

        <div class="span1">
          <label class="checkbox">
            <input value="GPLv2" type="checkbox">
            GPLv2
          </label>
          <label class="checkbox">
            <input value="GPLv3" type="checkbox">
            GPLv3
          </label>
          <label class="checkbox">
            <input value="MIT" type="checkbox">
            MIT
          </label>
          <label class="checkbox">
            <input value="BSD" type="checkbox">
            BSD
          </label>
          <label class="checkbox">
            <input value="Apache" type="checkbox">
            Apache
          </label>
          <label class="checkbox">
            <input value="CC BY" type="checkbox">
            CC BY
          </label>
        </div>

        <div class="span2">
          <label class="checkbox">
            <input value="CC BY-SA" type="checkbox">
            CC BY-SA
          </label>
          <label class="checkbox">
            <input value="CC BY-ND" type="checkbox">
            CC BY-ND
          </label>
          <label class="checkbox">
            <input value="CC BY-NC" type="checkbox">
            CC BY-NC
          </label>
          <label class="checkbox">
            <input value="CC BY-NC-SA" type="checkbox">
            CC BY-NC-SA
          </label>
          <label class="checkbox">
            <input value="CC BY-NC-ND" type="checkbox">
            CC BY-NC-ND
          </label>
          <label class="checkbox">
            <input value="Other" type="checkbox">
            Other
          </label>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Email Address</label>
      <div class="controls">
        <input placeholder="" class="input-xlarge" type="text">
        <p class="help-block">Your email address (for any questions)</p>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"></label>

      <div class="controls">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>

  </fieldset>
</form>

{% endblock %}
