{% extends "base.jinja" %}

{% block body %}
<h2>Main Index</h2>

{% if maps|length == 0 or maps is not defined %}
<p>Hmm, there doesn't seem to be anything here!</p>
{% else %}

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>Filename</th>
      <th>Download</th>
      <th>Uploaded</th>
    </tr>
  </thead>
  <tbody>
    {% for m in maps %}
    <tr>
      <td>{{ m.name }}</td>
      <td>{{ m.descr }}</td>
      <td>{{ m.author }}</td>
      <td>{{ m.filename }}</td>
      <td><a href="{{ url_for('static', filename="uploads/" + m.filename) }}">link</a></td>
      <td>{{ m.create_dt|e }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
