{% extends "base.jinja" %}
{% block body %}
<form class="form-horizontal" action="" method="post">
  <fieldset>

    <div id="legend" class="">
      <legend class="">Register</legend>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Username</label>
      <div class="controls">
        <input name="username" placeholder="" class="input-xlarge" type="text">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Password</label>
      <div class="controls">
        <input name="password" placeholder="" class="input-xlarge" type="password">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input01">Confirm Password</label>
      <div class="controls">
        <input name="password_confirm" placeholder="" class="input-xlarge" type="password">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>

    <input type=hidden name=next value="{{ next }}">

  </fieldset>
</form>
{% endblock %}
