{% extends "base.jinja" %}

{% block body %}

<form class="form-horizontal" action="{{ url_for('submit_map') }}" method="post" enctype=multipart/form-data>
  <fieldset>

    <div id="legend" class="">
      <legend class="">Submit A Map</legend>
    </div>

    <!-- Name -->
    <div class="control-group">
      {{ form.name.label(class="control-label") }}
      <div class="controls">
        {{ form.name(class="input-xlarge") }}
        <p class="help-block">Human-readable map name</p>
      </div>
    </div>

    {% if form.name.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for error in form.name.errors %}{{ error }}{% endfor %}
    </div>
    {% endif %}

    <!-- PK3 file -->
    <div class="control-group">
      {{ form.pk3.label(class="control-label") }}
      <div class="controls">
        {{ form.pk3(class="input-file") }}
      </div>
    </div>

   {% if form.pk3.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for error in form.pk3.errors %}{{ error }}{% endfor %}
    </div>
    {% endif %}


    <!-- Description -->
    <div class="control-group">
      {{ form.description.label(class="control-label") }}
      <div class="controls">
        <div class="textarea">
        {{ form.description(style="width: 270px; height: 150px;") }}
        </div>
      </div>
    </div>

   {% if form.description.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for error in form.description.errors %}{{ error }}{% endfor %}
    </div>
    {% endif %}

    <!-- Version -->
    <div class="control-group">
      {{ form.version.label(class="control-label") }}
      <div class="controls">
        {{ form.version(class="input-xlarge") }}
        <p class="help-block">Map version</p>
      </div>
    </div>

   {% if form.version.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for error in form.version.errors %}{{ error }}{% endfor %}
    </div>
    {% endif %}

    <!-- Screenshot -->
    <div class="control-group">
      {{ form.screenshot.label(class="control-label") }}
      <div class="controls">
        {{ form.screenshot(class="input-file") }}
      </div>
    </div>

   {% if form.screenshot.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for error in form.screenshot.errors %}{{ error }}{% endfor %}
    </div>
    {% endif %}

    <!-- Author -->
    <div class="control-group">
      {{ form.author.label(class="control-label") }}
      <div class="controls">
        {{ form.author(class="input-xlarge") }}
        <p class="help-block">The author of the map, if not yourself</p>
      </div>
    </div>

   {% if form.author.errors %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for error in form.author.errors %}{{ error }}{% endfor %}
    </div>
    {% endif %}

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>

  </fieldset>
</form>

{% endblock %}
